.board-wrap{
    width: 500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    .grid {
        width: 45px;
        height: 45px;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 45px;
    }
}